.booking__btn {
  background: var(--secondary-color) !important;
  cursor: pointer;
  padding: 0.2rem 0.5rem !important;
}

.booking__btn a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

.booking__btn a:hover {
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .booking__btn a {
    font-size: 0.8rem;
  }
  .booking__btn {
    padding: 0.2rem 0.5rem !important;
  }
}
